// Navigation Styles here

nav{
    
    .nav-content{
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        padding: 1.5rem 0;
    }
    
    
    .nav-items{

        display: flex;
        width: 40%;
        justify-content: space-around;

        a{
            font-family: 'Roboto', sans-serif;
            font-size: 1.6rem;
            text-decoration: none;
            color: black;
        }
    }
}

nav:after {
    content: "";
    display: block;
    margin: 1.5rem 0;
    margin-left: -10%;
    width: 120%;
    border-bottom: 2px dashed rgb(158, 154, 154);
}


